<div class="container">

  <br>

  <div>
    <button type="button" class="btn btn-primary" (click)="showInDiv()" [disabled]="visible || visibleOnFullPage">Block Div</button>
    <button type="button" class="btn btn-primary" (click)="showInFullPage()" [disabled]="visible || visibleOnFullPage">Block Page</button>
  </div>

  <div style="position: static;">
    <block-ui-dynamic [visible]='visibleOnFullPage'>
      {{message}}
      <fa-icon [icon]="['fas', 'sync']" [spin]="true"></fa-icon>
    </block-ui-dynamic>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <block-ui-dynamic [visible]='visible'>{{message}}</block-ui-dynamic>
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, consequatur eveniet! Minus iusto, eaque rem dignissimos cum
            autem iure? Culpa provident tempore tenetur accusamus nobis nisi magnam! Excepturi eius amet adipisci aut, omnis
            provident earum a sint! Iure culpa, vero similique facilis cum voluptates, est ipsam ipsum, tempore repellendus
            nulla!
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <block-ui-dynamic [visible]='visible'>
          <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </block-ui-dynamic>
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, consequatur eveniet! Minus iusto, eaque rem dignissimos cum
            autem iure? Culpa provident tempore tenetur accusamus nobis nisi magnam! Excepturi eius amet adipisci aut, omnis
            provident earum a sint! Iure culpa, vero similique facilis cum voluptates, est ipsam ipsum, tempore repellendus
            nulla!
          </p>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <block-ui-dynamic [visible]='visible'>
          {{message}}
          <fa-icon [icon]="['fas', 'sync']" [spin]="true"></fa-icon>
        </block-ui-dynamic>
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, consequatur eveniet! Minus iusto, eaque rem dignissimos cum
            autem iure? Culpa provident tempore tenetur accusamus nobis nisi magnam! Excepturi eius amet adipisci aut, omnis
            provident earum a sint! Iure culpa, vero similique facilis cum voluptates, est ipsam ipsum, tempore repellendus
            nulla!
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
